flows.json
[
    {
        "id": "6ed10c713c7728dd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d443c6db9dc42a4d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0da3f1fc383e4e33",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4c81b928e61a0c5e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3b398c99ecb4d680",
        "type": "ui_tab",
        "name": "Sala",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c435c0c0d8576ecc",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "03be5ac82cd0dfa9",
        "type": "ui_group",
        "name": "FOCOS",
        "tab": "3b398c99ecb4d680",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cfb746d40a51b6e4",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "3b398c99ecb4d680",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee98beb1c51c6447",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "3b398c99ecb4d680",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3264b27192a04ebe",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "090eb21921fea1c3",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "3264b27192a04ebe",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "103783feaa2cf9b7",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "3264b27192a04ebe",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "902d86db92c6d3ff",
        "type": "ui_group",
        "name": "Foco",
        "tab": "3264b27192a04ebe",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4ceea24571dfdfb",
        "type": "comment",
        "z": "6ed10c713c7728dd",
        "name": "Ejercicio # 1 - Subscribirme",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "fe6d05790d4a0967",
        "type": "comment",
        "z": "6ed10c713c7728dd",
        "name": "Ejercicio #2 Telemetria",
        "info": "",
        "x": 160,
        "y": 420,
        "wires": []
    },
    {
        "id": "1b31fef9a832443c",
        "type": "mqtt in",
        "z": "6ed10c713c7728dd",
        "name": "",
        "topic": "Utmach/6to/PedroZ",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0da3f1fc383e4e33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "b71b6c0b57f0cdf7"
            ]
        ]
    },
    {
        "id": "b71b6c0b57f0cdf7",
        "type": "debug",
        "z": "6ed10c713c7728dd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "e29d9f8c360feee9",
        "type": "inject",
        "z": "6ed10c713c7728dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Utmach/curso/PeterZi",
        "payload": "Estoy hablando atravez de node red hacia mosquitto",
        "payloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "607edaea8ba6077a"
            ]
        ]
    },
    {
        "id": "607edaea8ba6077a",
        "type": "mqtt out",
        "z": "6ed10c713c7728dd",
        "name": "",
        "topic": "Utmach/curso/PeterZi",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c81b928e61a0c5e",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "90ce5e9da680845c",
        "type": "mqtt out",
        "z": "6ed10c713c7728dd",
        "name": "",
        "topic": "Utmach/6to/PedroZ",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0da3f1fc383e4e33",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "1fa5098d918403f8",
        "type": "mqtt in",
        "z": "6ed10c713c7728dd",
        "name": "",
        "topic": "Utmach/6to/PedroZ",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c81b928e61a0c5e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "90ce5e9da680845c",
                "fb9ef10023bc522d"
            ]
        ]
    },
    {
        "id": "fb9ef10023bc522d",
        "type": "debug",
        "z": "6ed10c713c7728dd",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "d7f6861ac0e1cb4b",
        "type": "mqtt in",
        "z": "6ed10c713c7728dd",
        "name": "",
        "topic": "Utmach/curso/6to/PedroZ/sala/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c81b928e61a0c5e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "8388927bf819b5fd"
            ]
        ]
    },
    {
        "id": "8388927bf819b5fd",
        "type": "switch",
        "z": "6ed10c713c7728dd",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Utmach/curso/6to/PedroZ/sala/temperatura",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Utmach/curso/6to/PedroZ/sala/humedad",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Utmach/curso/6to/PedroZ/sala/foco",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "fcacbe30182cae36"
            ],
            [
                "163d80fdb0c12050"
            ],
            [
                "70d9ae4a034e2d0e"
            ]
        ]
    },
    {
        "id": "fcacbe30182cae36",
        "type": "ui_gauge",
        "z": "6ed10c713c7728dd",
        "name": "",
        "group": "ee98beb1c51c6447",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "163d80fdb0c12050",
        "type": "ui_gauge",
        "z": "6ed10c713c7728dd",
        "name": "",
        "group": "cfb746d40a51b6e4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "70d9ae4a034e2d0e",
        "type": "ui_led",
        "z": "6ed10c713c7728dd",
        "order": 0,
        "group": "03be5ac82cd0dfa9",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "c66ca51e4a4e4dc2",
        "type": "inject",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "data",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "68e94684ada9fc8b",
                "1ff81270196c1cb6",
                "227846a56b73c640"
            ]
        ]
    },
    {
        "id": "fea7c034dc293990",
        "type": "change",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Utmach/curso/6to/PedroZ/sala/temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "aaa4cbfde6a2b6a8"
            ]
        ]
    },
    {
        "id": "aaa4cbfde6a2b6a8",
        "type": "mqtt out",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c81b928e61a0c5e",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "dd8b51aaac5a1958",
        "type": "comment",
        "z": "d443c6db9dc42a4d",
        "name": "Ejercicio #3: Publicando en broker MQTT desde Node-red",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "68e94684ada9fc8b",
        "type": "random",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "fea7c034dc293990"
            ]
        ]
    },
    {
        "id": "1ff81270196c1cb6",
        "type": "random",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "ef2b02c44aeb8de9"
            ]
        ]
    },
    {
        "id": "227846a56b73c640",
        "type": "random",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "494752e1ad0df319"
            ]
        ]
    },
    {
        "id": "b7d51da4e29fc1b6",
        "type": "comment",
        "z": "d443c6db9dc42a4d",
        "name": "temperatura",
        "info": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "ae403999c28ea067",
        "type": "comment",
        "z": "d443c6db9dc42a4d",
        "name": "humedad",
        "info": "",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "7315bfa36776c551",
        "type": "comment",
        "z": "d443c6db9dc42a4d",
        "name": "foco",
        "info": "",
        "x": 290,
        "y": 240,
        "wires": []
    },
    {
        "id": "ef2b02c44aeb8de9",
        "type": "change",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Utmach/curso/6to/PedroZ/sala/humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "aaa4cbfde6a2b6a8"
            ]
        ]
    },
    {
        "id": "494752e1ad0df319",
        "type": "change",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Utmach/curso/6to/PedroZ/sala/foco",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "aaa4cbfde6a2b6a8"
            ]
        ]
    },
    {
        "id": "52a9f8bf2fce684f",
        "type": "comment",
        "z": "d443c6db9dc42a4d",
        "name": "Ejercicio #4: Envio de comandos desde un Dashboard",
        "info": "",
        "x": 260,
        "y": 400,
        "wires": []
    },
    {
        "id": "2732224b124fc672",
        "type": "ui_slider",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "ee98beb1c51c6447",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "4ef0983da5a2c132"
            ]
        ]
    },
    {
        "id": "a2d374ba94b51d54",
        "type": "ui_slider",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "cfb746d40a51b6e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "c5d221b18357d2b3"
            ]
        ]
    },
    {
        "id": "93d2091cda1c3dda",
        "type": "ui_switch",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "03be5ac82cd0dfa9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "7e611a418e6c1215"
            ]
        ]
    },
    {
        "id": "7e611a418e6c1215",
        "type": "change",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Utmach/curso/6to/PedroZ/sala/foco",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "6dcff94a7385ee24"
            ]
        ]
    },
    {
        "id": "c5d221b18357d2b3",
        "type": "change",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Utmach/curso/6to/PedroZ/sala/humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "6dcff94a7385ee24"
            ]
        ]
    },
    {
        "id": "4ef0983da5a2c132",
        "type": "change",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Utmach/curso/6to/PedroZ/sala/temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "6dcff94a7385ee24"
            ]
        ]
    },
    {
        "id": "6dcff94a7385ee24",
        "type": "mqtt out",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c81b928e61a0c5e",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "c1f39d1cbc0598d8",
        "type": "mqtt in",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "topic": "Utmach/curso/6to/PedroZ/sala/foco",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0da3f1fc383e4e33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 800,
        "wires": [
            [
                "6dcff94a7385ee24",
                "9fecde92d6b16824"
            ]
        ]
    },
    {
        "id": "9fecde92d6b16824",
        "type": "debug",
        "z": "d443c6db9dc42a4d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "06e46720eba9d59b",
        "type": "comment",
        "z": "d443c6db9dc42a4d",
        "name": "",
        "info": "",
        "x": 300,
        "y": 740,
        "wires": []
    }
]